In [29]:
import pandas as pd
import os
import PIL
import numpy as np
from PIL import Image,ImageOps

In [3]:
from os import listdir
from os.path import isfile, join
mypath="data/training_images"
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [5]:
dataset1=pd.read_csv("data/train_solution_bounding_boxes (1).csv")

In [6]:
dataset1

               image        xmin        ymin        xmax        ymax
0     vid_4_1000.jpg  281.259045  187.035071  327.727931  223.225547
1    vid_4_10000.jpg   15.163531  187.035071  120.329957  236.430180
2    vid_4_10040.jpg  239.192475  176.764801  361.968162  236.430180
3    vid_4_10020.jpg  496.483358  172.363256  630.020260  231.539575
4    vid_4_10060.jpg   16.630970  186.546010  132.558611  238.386422
..               ...         ...         ...         ...         ...
554   vid_4_9860.jpg    0.000000  198.321729   49.235251  236.223284
555   vid_4_9880.jpg  329.876184  156.482351  536.664239  250.497895
556   vid_4_9900.jpg    0.000000  168.295823  141.797524  239.176652
557   vid_4_9960.jpg  487.428988  172.233646  616.917699  228.839864
558   vid_4_9980.jpg  221.558631  182.570434  348.585579  238.192196

[559 rows x 5 columns]

In [12]:
present=list(dataset1["image"])

Empty DataFrame
Columns: [Im_Name, Xmin, Ymin, Xmax, Ymax, Image]
Index: []

In [43]:
final_dataset=pd.DataFrame({"Im_Name":[],"Xmin":[],"Ymin":[],"Xmax":[],"Ymax":[],"Image":[]})
final_dataset
for im in onlyfiles:
    imag=Image.open("data/training_images/"+im)
    gray_image = ImageOps.grayscale(imag)
    im_data=np.array(gray_image.getdata())
    im_data=im_data/255
    if im in present:
        im_name,xmin,ymin,xmax,ymax=dataset1[dataset1["image"]==im].iloc[0]
        final_dataset.loc[len(final_dataset.index)] = [im,xmin,ymin,xmax,ymax,im_data]
    else:
        final_dataset.loc[len(final_dataset.index)] = [im,0,0,0,0,im_data]

C:\Users\User\anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

In [9]:
dataset1["image"]

0       vid_4_1000.jpg
1      vid_4_10000.jpg
2      vid_4_10040.jpg
3      vid_4_10020.jpg
4      vid_4_10060.jpg
            ...
554     vid_4_9860.jpg
555     vid_4_9880.jpg
556     vid_4_9900.jpg
557     vid_4_9960.jpg
558     vid_4_9980.jpg
Name: image, Length: 559, dtype: object

In [44]:
final_dataset

,Im_Name,Xmin,Ymin,Xmax,Ymax,Image
0,vid_4_1000.jpg,281.259045,187.035071,327.727931,223.225547,"[0.7490196078431373, 0.7450980392156863, 0.745..."
1,vid_4_10000.jpg,15.163531,187.035071,120.329957,236.430180,"[0.8, 0.8, 0.796078431372549, 0.79607843137254..."
2,vid_4_10020.jpg,496.483358,172.363256,630.020260,231.539575,"[0.803921568627451, 0.8, 0.8, 0.80392156862745..."
3,vid_4_10040.jpg,239.192475,176.764801,361.968162,236.430180,"[0.8117647058823529, 0.8117647058823529, 0.807..."
4,vid_4_10060.jpg,16.630970,186.546010,132.558611,238.386422,"[0.8274509803921568, 0.8235294117647058, 0.819..."
...,...,...,...,...,...,...
996,vid_4_9900.jpg,0.000000,168.295823,141.797524,239.176652,"[0.8352941176470589, 0.8392156862745098, 0.843..."
997,vid_4_9920.jpg,0.000000,0.000000,0.000000,0.000000,"[0.8156862745098039, 0.8196078431372549, 0.823..."
998,vid_4_9940.jpg,0.000000,0.000000,0.000000,0.000000,"[0.807843137254902, 0.807843137254902, 0.80784..."
999,vid_4_9960.jpg,487.428988,172.233646,616.917699,228.839864,"[0.796078431372549, 0.796078431372549, 0.79215..."
1000,vid_4_9980.jpg,221.558631,182.570434,348.585579,238.192196,"[0.796078431372549, 0.796078431372549, 0.79215..."

In [45]:
final_dataset.to_csv("Final_train.csv")